In [25]:
import pandas as pd
import numpy as np

# Path = E:\pandas_datasource\ml-100k\ml-100k\u.user
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv(r'E:\pandas_datasource\ml-100k\ml-100k\u.user', sep='|', names=u_cols, encoding='latin-1')
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv(r'E:\pandas_datasource\ml-100k\ml-100k\u.data', sep='\t', names=r_cols, encoding='latin-1')

# 
m_cols = ['movie_id', 'title', 'release_date', 'video_release_date', 'imdb_url']
movies = pd.read_csv(r'E:\pandas_datasource\ml-100k\ml-100k\u.item', sep='|', names=m_cols, usecols=range(5), encoding='latin-1')

In [13]:
# Inspection
#movies.info()
movies.head()
movies.tail(3)
(movies[20:22]) # Python's regular slicing

,movie_id,title,release_date,video_release_date,imdb_url
20,21,Muppet Treasure Island (1996),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Muppet%20Trea...
21,22,Braveheart (1995),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Braveheart%20...

In [15]:
# row selection can be done multiple ways, but doing so by an individual index or boolean indexing are typically easiest.
# users older than 25
print(users[users.age > 25].head(3))
print('\n')

# users aged 40 AND male
print(users[(users.age == 40) & (users.sex == 'M')].head(3))
print('\n')

# users younger than 30 OR female
print(users[(users.sex == 'F') | (users.age < 30)].head(3))

   user_id  age sex occupation zip_code
1        2   53   F      other    94043
4        5   33   F      other    15213
5        6   42   M  executive    98101


     user_id  age sex  occupation zip_code
18        19   40   M   librarian    02138
82        83   40   M       other    44133
115      116   40   M  healthcare    97232


   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067

In [19]:
# If you want to modify your existing DataFrame, use the inplace parameter. 
# Most DataFrame methods return new a DataFrames, while offering an inplace parameter. 
# Note that the inplace version might not actually be any more efficint (in terms of speed or memory usage) 
# that the regular version.
users.set_index('user_id', inplace=True)
users.head()

         age sex  occupation zip_code
user_id
1         24   M  technician    85711
2         53   F       other    94043
3         23   M      writer    32067
4         24   M  technician    43537
5         33   F       other    15213

In [22]:
print (users.iloc[99])
print ('\n')
print (users.iloc[[1, 50, 300]])

age                  36
sex                   M
occupation    executive
zip_code          90254
Name: 100, dtype: object


         age sex occupation zip_code
user_id
2         53   F      other    94043
51        28   M   educator    16509
301       24   M    student    55439

In [24]:
#And we can select rows by label with the loc method.
print(users.loc[100])
print('\n')
print(users.loc[[2, 51, 301]])

age                  36
sex                   M
occupation    executive
zip_code          90254
Name: 100, dtype: object


         age sex occupation zip_code
user_id
2         53   F      other    94043
51        28   M   educator    16509
301       24   M    student    55439

In [29]:
# merge/join
left_frame = pd.DataFrame({'key':range(5), 'left_value':['a','b','c','d','e']})
right_frame = pd.DataFrame({'key':range(2,7),'right_value':['f', 'g', 'h', 'i', 'j']})
print (left_frame)
print ('\n')
print (right_frame)

   key left_value
0    0          a
1    1          b
2    2          c
3    3          d
4    4          e


   key right_value
0    2           f
1    3           g
2    4           h
3    5           i
4    6           j

In [31]:
# inner join (default)
pd.merge(left_frame, right_frame, on='key', how='inner')
pd.merge(left_frame, right_frame, left_on='key', right_index=True)

   key  key_x left_value  key_y right_value
0    0      0          a      2           f
1    1      1          b      3           g
2    2      2          c      4           h
3    3      3          d      5           i
4    4      4          e      6           j